# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
crimson_x64.exe
crimson_x64_Data/
crimon_x64_Data/mainData
crimon_x64_Data/Managed
crimon_x64_Data/Mono
crimon_x64.exe
crimon_x64_Data/output_log.txt
crimon_x64_Data/PlayerConnectionConfigFile
crimon_x64_Data/Resources/unity default resources
crimon_x64_Data/Resources/unity_builtin_extra
crimon_x64_Data/sharedassets0.assets